<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  >

<head th:replace="/common/fragment :: head('Cart')" >
    <title></title>
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper" th:replace="/common/fragment.html ::humberger()">

</div>
<!-- Humberger End -->

<!-- Header Section Begin -->
<header th:replace="/common/fragment.html ::header()">

</header>
<!-- Header Section End -->

<!-- Hero Section Begin -->
<!-- Hero Section End -->

<!-- Breadcrumb Section Begin -->
<!-- Breadcrumb Section Begin -->
<section th:replace="/common/fragment :: breadcrumbSection('cart')">

</section>
<!-- Breadcrumb Section End -->

<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                        <tr>
                            <th class="shoping__product">Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <p class="alert alert-success" th:if="${mess}" th:text="${mess}"></p>
                        <p class="alert alert-danger" th:if="${messDelete}" th:text="${messDelete}"></p>
                        <tr th:each="item:${page.getContent()}">
                            <td class="shoping__cart__item">
                                <img th:src="@{'/images-file/' + ${item.product.imageName}}" width="100px" height="100px" alt="">
                                <h5 th:text="${item.product.name}"></h5>
                            </td>
                            <td class="shoping__cart__price" th:text="${#numbers.formatDecimal(item.product.price, 0, 'COMMA', 0, 'POINT') + 'đ'}">

                            </td>
                            <td class="shoping__cart__quantity">
                                <div class="quantity">
                                    <div class="pro-qty">
                                        <input type="text" name="number" value="1">
                                    </div>
                                </div>
                            </td>
                            <td class="shoping__cart__price" th:text="${#numbers.formatDecimal(item.product.price, 0, 'COMMA', 0, 'POINT') + 'đ'}">

                            </td>
                            <td class="shoping__cart__item__close centered">
                                <a th:href="@{/cart/delete(productId=${item.product.id})}"><span class="icon_close"></span></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a th:href="@{/shop}" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                    <a href="#" class="primary-btn cart-btn cart-btn-right"><span class="icon_loading"></span>
                        Upadate Cart</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__continue">
                    <div class="shoping__discount">
                        <h5>Discount Codes</h5>
                        <form action="#">
                            <input type="text" placeholder="Enter your coupon code">
                            <button type="submit" class="site-btn">APPLY COUPON</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Cart Total</h5>
                    <ul>
                        <li>Subtotal <span th:text="${#numbers.formatDecimal(totalPrice, 0, 'COMMA', 0, 'POINT') + 'đ'}"></span></li>
                        <li>Total <span th:text="${#numbers.formatDecimal(totalPrice, 0, 'COMMA', 0, 'POINT') + 'đ'}"></span></li>
                    </ul>
                    <a th:href="@{/order/addOrder}" class="primary-btn">PROCEED TO CHECKOUT</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shoping Cart Section End -->

<!-- Footer Section Begin -->
<footer th:replace="/common/fragment ::footer()">

</footer>
<!-- Footer Section End -->



</body>

</html>